<nav class="navbar">

  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <h3 style="text-align: center">Elenco negozi</h3>
      <p style="text-align: center">Comuni di Ladispoli e Cerveteri</p>

      <a style="padding-bottom:2px;padding-left: 10px;color:green;font-size: bold;" href="https://docs.google.com/forms/d/e/1FAIpQLSdqaK1AnXORO-9gOVDk2rXl6GU54XEg-b0b16MexY_2wo5qKQ/viewform?usp=sf_link
" target="_blank">Vuoi inserire la tua attività? COMPILA IL MODULO ON LINE</a>

      <br>
      <br>
      <br>

      <a style="padding-bottom:2px;padding-left: 10px;"
        href="https://www.comunediladispoli.it//upload/Modulo%20istanza%20cittadini.pdf" target="_blank">Modulo per la
        richiesta di buoni spesa - Ladispoli</a>
      <br>
      <a style="padding-bottom:2px;padding-left: 10px;"
        href="https://www.comunediladispoli.it/richiesta-buoni-spesa-emergenza-sanitaria-covid19?fbclid=IwAR2GJGOLtrRBmA5XcnOeDLFsFcC9RgRcdYtK1Av9idYVFM-ip_b1-HznmM8"
        target="_blank">Buoni Spesa On Line- Ladispoli</a>

      <br>
      <a style="padding-bottom:2px;padding-left: 10px;"
        href="https://docs.google.com/forms/d/e/1FAIpQLSc-padgAoERqyuAv66MGrRQ-wpqXTJv8kA17Ht_2KXwZusqXg/viewform"
        target="_blank">Buoni Spesa On Line Comune Di Cerveteri</a>

    </a>
  </div>
</nav>
<div class="example-container mat-elevation-z8 container-fluid d-flex flex-column">

  <mat-form-field>
    <mat-label>Ricerca Attivita'</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ricerca un'attivita' ">
  </mat-form-field>


  <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile" style="height: 100%;">


    <!-- Name Column -->
    <ng-container matColumnDef="genere">
      <mat-header-cell *matHeaderCellDef> Genere </mat-header-cell>
      <mat-cell *matCellDef="let element"><span class="mobile-label">Genere:</span> {{element.genere}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="negozio">
      <mat-header-cell *matHeaderCellDef> Negozio </mat-header-cell>
      <mat-cell *matCellDef="let element"><span class="mobile-label">Negozio: </span> {{element.negozio}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="spese">
      <mat-header-cell *matHeaderCellDef> Spese Di Consegna </mat-header-cell>
      <mat-cell *matCellDef="let element"><span class="mobile-label">Spese:</span> {{element.spese}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="citta">
      <mat-header-cell *matHeaderCellDef> Citta' </mat-header-cell>
      <mat-cell *matCellDef="let element"><span class="mobile-label">Citta': </span> {{element.citta}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef> Telefono </mat-header-cell>
      <mat-cell *matCellDef="let element"><span class="mobile-label">Telefono: </span> {{element.telefono}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="zonadiconsegna">
      <mat-header-cell *matHeaderCellDef> Zona di consegna </mat-header-cell>
      <mat-cell *matCellDef="let element"><span class="mobile-label">Zona: </span> {{element.zonadiconsegna}}
      </mat-cell>
    </ng-container>

    <!--  -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <noscript><a href="https://www.contatoreaccessi.com" title="contatore di visite sul sito"><img
        src="https://counter2.stat.ovh/private/contatoreaccessi.php?c=3w4fazndap96htdgmnc2mnzqqw4533l6" border="0"
        title="contatore di visite sul sito" alt="contatore di visite sul sito"></a></noscript>

</div>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p style="font-size: 5px;">
        Made by MLA with Angular and Altervista
      </p>
      <a href="https://www.contatoreaccessi.com" title="contatore di visite sul sito"><img
          src="https://counter2.stat.ovh/private/contatoreaccessi.php?c=3w4fazndap96htdgmnc2mnzqqw4533l6" border="0"
          title="contatore di visite sul sito" alt="contatore di visite sul sito"></a>

    </div>
  </div>
</footer>